<div texto="Cargando..." class="kbmsd-spinner">
  <div class="msd-spinner">
    <div class="msd-spinner__backdrop"></div>
    <div class="msd-spinner__loader">
      <svg width="48" height="48" class="circle-container">
        <circle
          cx="24"
          cy="24"
          r="20"
          fill="none"
          stroke-miterlimit="10"
          class="stroke"
        ></circle>
      </svg>
      <!-- <svg width="24" height="24" viewBox="0 0 24 24" class="logo-spinner">
                <defs _ngcontent-jpg-c48=""><circle id="prefix__a" cx="12" cy="12" r="12"></circle></defs>
                <g fill="none" fill-rule="evenodd">
                    <path
                        _ngcontent-jpg-c48=""
                        d="M12 34c12.15 0 22-9.85 22-22a21.918 21.918 0 00-5.563-14.623C24.407-7.149 18.537-10 12-10-.15-10-10-.15-10 12"
                        stroke="#FF9100"
                        stroke-width="4"
                        fill="#FFF"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    ></path>
                    <g _ngcontent-jpg-c48="">
                        <mask id="prefix__b" fill="#fff"><use xlink:href="#prefix__a"></use></mask>
                        <use fill="#FFF" xlink:href="#prefix__a"></use>
                        <g mask="url(#prefix__b)">
                            <path fill="#FFF" d="M-1-1h26v26H-1z"></path>
                            <g fill-rule="nonzero">
                                <path d="M-.188 11.894L8.5 8.156v-2.77c2.806-.434 5.037-1.735 6.964-3.838l8.723 7.042V-.154L-.188-.188v12.082z" fill="#FB1D38"></path>
                                <path
                                    _ngcontent-jpg-c48=""
                                    d="M8.534 19.838h6.964V1.58c-1.96 2.136-4.192 3.438-6.964 3.839v2.77l-8.722 3.704v2.704L8.5 10.826v-2.67l2.772-1.201v2.67L8.5 10.826v2.637l2.772-1.201v2.636L8.5 16.1v-2.637l-8.688 3.772v2.636L8.5 16.1v3.738h.034z"
                                    fill="#FFF"
                                ></path>
                                <path
                                    _ngcontent-jpg-c48=""
                                    d="M8.534 16.1v3.738H-.188L8.534 16.1zm2.772-3.838v2.636L8.5 16.1v-2.637l-8.688 3.772v-2.637L8.5 10.826V8.19l2.806-1.202v2.637l-2.772 1.201v2.637l2.772-1.201zM15.498 19.837h8.688V8.591l-8.688-7.01z"
                                    fill="#FF9100"
                                ></path>
                                <path fill="#0454B4" d="M15.498 19.837H-.188v4.35h24.373v-4.35z"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg> -->
    </div>
    <div class="msd-spinner__text">Cargando...</div>
  </div>
</div>

<!-- <div id="publicado"></div>

<div class="root container responsivegrid">
    <div id="container-434a1b90f7" class="cmp-container">
        <main class="container responsivegrid">
            <div id="container-993925e19b" class="cmp-container">
                <div class="kbapp-root">
                    <div texto="Cargando..." class="kbmsd-spinner">
                        <div class="msd-spinner">
                            <div class="msd-spinner__backdrop"></div>
                            <div class="msd-spinner__loader">
                                <svg width="48" height="48" class="circle-container">
                                    <circle cx="24" cy="24" r="20" fill="none" stroke-miterlimit="10" class="stroke"></circle>
                                </svg>
                                <svg width="24" height="24" viewBox="0 0 24 24" class="logo-spinner">
                                    <defs _ngcontent-jpg-c48=""><circle id="prefix__a" cx="12" cy="12" r="12"></circle></defs>
                                    <g fill="none" fill-rule="evenodd">
                                        <path
                                            _ngcontent-jpg-c48=""
                                            d="M12 34c12.15 0 22-9.85 22-22a21.918 21.918 0 00-5.563-14.623C24.407-7.149 18.537-10 12-10-.15-10-10-.15-10 12"
                                            stroke="#FF9100"
                                            stroke-width="4"
                                            fill="#FFF"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                        <g _ngcontent-jpg-c48="">
                                            <mask id="prefix__b" fill="#fff"><use xlink:href="#prefix__a"></use></mask>
                                            <use fill="#FFF" xlink:href="#prefix__a"></use>
                                            <g mask="url(#prefix__b)">
                                                <path fill="#FFF" d="M-1-1h26v26H-1z"></path>
                                                <g fill-rule="nonzero">
                                                    <path d="M-.188 11.894L8.5 8.156v-2.77c2.806-.434 5.037-1.735 6.964-3.838l8.723 7.042V-.154L-.188-.188v12.082z" fill="#FB1D38"></path>
                                                    <path
                                                        _ngcontent-jpg-c48=""
                                                        d="M8.534 19.838h6.964V1.58c-1.96 2.136-4.192 3.438-6.964 3.839v2.77l-8.722 3.704v2.704L8.5 10.826v-2.67l2.772-1.201v2.67L8.5 10.826v2.637l2.772-1.201v2.636L8.5 16.1v-2.637l-8.688 3.772v2.636L8.5 16.1v3.738h.034z"
                                                        fill="#FFF"
                                                    ></path>
                                                    <path
                                                        _ngcontent-jpg-c48=""
                                                        d="M8.534 16.1v3.738H-.188L8.534 16.1zm2.772-3.838v2.636L8.5 16.1v-2.637l-8.688 3.772v-2.637L8.5 10.826V8.19l2.806-1.202v2.637l-2.772 1.201v2.637l2.772-1.201zM15.498 19.837h8.688V8.591l-8.688-7.01z"
                                                        fill="#FF9100"
                                                    ></path>
                                                    <path fill="#0454B4" d="M15.498 19.837H-.188v4.35h24.373v-4.35z"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="msd-spinner__text">Cargando...</div>
                        </div>
                    </div>
              
                </div>
            </div>
        </main>
    </div>
</div> -->
