<div class="root container responsivegrid">
  <div id="container-434a1b90f7" class="cmp-container">
    <main class="container responsivegrid">
      <div id="container-993925e19b" class="cmp-container">
        <div
          class="container responsivegrid aem-GridColumn aem-GridColumn--default--12"
        >
          <div id="container-dd80c19b15" class="cmp-container">
            <div class="aem-Grid aem-Grid--12 aem-Grid--default--12">
              <div
                class="mensaje-error aem-GridColumn aem-GridColumn--default--12"
              >
                <div class="msd-mensaje-error">
                  <div class="msd-mensaje-error__header">
                    <div class="msd-mensaje-error__icon">
                      <svg
                        role="img"
                        aria-label="ícono"
                        focusable="false"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        style="
                          width: 50px;
                          height: 50px;
                          fill: rgb(62, 80, 180);
                        "
                      >
                        <path
                          fill=""
                          fill-rule="evenodd"
                          d="M12.094 3.086c4.967 0 9.008 4.04 9.008 9.008 0 4.967-4.04 9.008-9.008 9.008-4.967 0-9.008-4.041-9.008-9.008 0-4.967 4.04-9.008 9.008-9.008zm0 1.028c-4.4 0-7.98 3.58-7.98 7.98s3.58 7.98 7.98 7.98 7.98-3.58 7.98-7.98-3.58-7.98-7.98-7.98zm0 10.052a.8.8 0 110 1.6.8.8 0 010-1.6zm-.016-6.275c.284 0 .514.23.514.515v3.992a.514.514 0 11-1.029 0V8.406c0-.284.23-.515.515-.515z"
                        ></path>
                      </svg>
                      <div
                        class="msd-mensaje-error__header__text"
                        tabindex="0"
                        role="none"
                      >
                        La página que buscas, ya no existe o fue eliminada
                      </div>
                    </div>
                  </div>
                  <div class="msd-card-error__container">
                    <div class="msd-card-error__container--text">
                      <div class="text1 text">
                        <div class="msd-container-gnral">
                          <div class="      ">
                            <div
                              id="text-05a297db14"
                              tabindex="0"
                              class="cmp-text"
                            >
                              <p>
                                Te dejamos algunos links, que pueden ayudarte:
                              </p>
                              <ul>
                                <li>
                                  <a
                                    href="javascript:"
                                    (click)="goOut()"
                                    target="_self"
                                    >Ir al centro de ayuda</a
                                  >
                                </li>
                                <li>
                                  <a href="javascript:" (click)="goOut()"
                                    >Ir al centro de usuario</a
                                  >
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div>
                    <button class="msd-mensaje-error__button">
                      <a
                        id="button-55b19ba852"
                        class="msd-button msd-button--medium msd-button--primary msd-button--center"
                        href="javascript:"
                        (click)="goOut()"
                        target="_self"
                        data-cmp-clickable=""
                      >
                        <span class="cmp-button__text">Volver al inicio</span>
                      </a>
                    </button>
                  </div>
                  <br />

                  <div class="msd-mensaje-error__alerta">
                    <div class="msd-mensaje-error__alerta--icon">
                      <div></div>
                      <div>
                        <span
                          class="msd-iconbech msd-font-small icon-alert_circle"
                          style="color: #3e50b4"
                        >
                          <span class="path1"></span><span class="path2"></span
                          ><span class="path3"></span
                          ><span class="path4"></span>
                        </span>
                      </div>
                    </div>
                    <div class="msd-mensaje-error__alerta--text">
                      <div class="msd-container-gnral">
                        <div class="      ">
                          <div
                            id="text-b155928b58"
                            tabindex="0"
                            class="cmp-text"
                          >
                            <p>
                              Recuerda que puedes contactar a Servicio al
                              Cliente o informarte en nuestro Centro de Ayuda
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
